> P149

#### 排序和排名
+ 根据条件对数据集排序(sorting）是一种重要的内置运算。要对行或列索引进行排序（按字典顺序），可使用sort_index方法，它将返回一个已排序的新对象
+ 对于DataFrame，可以根据任意一个轴上的索引进行排序

In [2]:
from pandas import Series, DataFrame
obj = Series(range(4), index = list('dabc'))

In [12]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [14]:
#obj.order(), 最新版已经没有order函数

In [6]:
import numpy as np
frame = DataFrame(np.arange(8).reshape((2,4)), index=['three','one'],\
columns=['d','a','b','c'])

In [8]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [7]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [9]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [10]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [21]:
frame1 = DataFrame({'b':[4,7,-3,2,4],'a':[0,1,0,1,3]})

In [22]:
frame1

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1
4  4  3

In [23]:
frame1.sort_values(by=['b','a']) #新版本已经建议使用sort_values,sort_index已经不再使用

   b  a
2 -3  0
3  2  1
0  4  0
4  4  3
1  7  1

+ 排名（ranking）跟排序关系密切，且它会增设1个值（从1开始，一直到数组中有效的数据）。它跟numpy.argsort产生的间接排序索引差不多，只不过它可以根据某种规则破坏平级关系。
+ 默认情况下，rank是通过“为各组分配一个平均排名”的方式来破坏平级关系的

In [24]:
obj = Series([7,-5,7,4,2,0,4])

In [26]:
obj

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

In [25]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [30]:
obj.rank(method='first') 
#根据值在数据中出现的顺序给出排名，降序的话使用‘ascending=False’

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [33]:
frame = DataFrame({'b':[4.3,7,-3,2],'a':[0,1,0,1],'c':[-2,5,8,-2.5]})

In [45]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [39]:
frame.rank(axis=1)

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

In [46]:
frame.rank(axis=1,method='first')

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

+ method选项
    + average，默认
    + min，使用整个分组的最小排名
    + max，
    + first，按值在原始数据中的出现顺序分配排名

+ 带有重复值的轴索引
    + 如果索引对应多个值，则返回一个Series；
    + 对应单个值，返回一个标量值

#### 汇总和计算描述统计
+ 约简方法，以sum为例
    + 选项
        + axis，轴，行0，列1
        + skipna，排除缺失值，默认为True
        + level，如果轴是层次化索引（multiindex），则根据level分组约简
    + idxmin、idxmax(返回间接统计，比如达到最小值或最大值的索引）
    +

In [ ]:
import pandas.io.data as web
for ticker in['AAPL','IBM']